.main-chat
  .main-header
    .main-header__group
      %p.main-header__groupname
        = @group.name
      .member__list
        Member : 
        - @group.users.each do |user|
          = user.name
    .header__edit__button 
      = link_to edit_group_path(@group.id) do
        Edit 
  .messagefield
    = render @messages
  .Footer        
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .input-box
        = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('far', 'image', class: 'Form__icon')
          = f.file_field :image, class: 'input-box__image__file'
      = f.submit 'Send', class: 'submit-btn'
      
  -# .footer        
  -#   %form.Form
  -#     .input-box
  -#       %input{type: "text",class: "input-box__text", placeholder: "type a message"}
  -#       %label{class: "input-box__image"}
  -#         = icon('fas', 'image')
  -#         %input{type: "file", class: "input-box__image__file"}
  -#     %input{type: "submit", class: "submit-btn"}    
      
